.fr-mypage {
    margin-bottom: 20px;

    @include wb;

    &__wrapper {
    }

    &__header {
        position: relative;
        min-height: 186px;
        height: 0;
    }

    &__upt {
        padding: 16px;

        @include cancelAndSubmit(16px);
    }

    &__upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2;
        background-color: white;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 100%;
    }

    &__helper {
        display: flex;
        gap: 16px;
        width: 100%;
        margin-top: 16px;

        & > button {
            flex: 1;
        }
    }
}
