.fr-mypage {
    margin-bottom: 20px;

    @include wb;

    &__wrapper {
        position: relative;
    }

    &__header {
        position: relative;
        min-height: 186px;
        border-bottom: $fr-box-border;
        height: 0;
    }

    &__upt {
        padding: 16px;

        @include cancelAndSubmit(16px);
    }

    &__upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2;
        background-color: white;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 100%;
    }

    &__helper {
        display: flex;
        gap: 16px;
        width: 100%;
        margin-top: 16px;

        & > button {
            flex: 1;
        }
    }

    &__extension {
        position: relative;
        width: 100%;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.3;

        @include wb;
    }

    &__item {
        padding: 5px 10px;
        cursor: pointer;

        &--active {
            background-color: $fr-active-color;
        }

        &:hover {
            background-color: $fr-hover-color;
        }

        & + & {
            border-top: $fr-box-border;
        }
    }
}
