.fr-mypage {
    margin-bottom: 20px;

    @include wb;

    &__wrapper {
        position: relative;
    }

    &__header {
        position: relative;
        min-height: 186px;
        height: 0;
    }

    &__upt {
        padding: 16px;

        // @include cancelAndSubmit(16px);
    }

    &__upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2;
        background-color: white;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 100%;
    }

    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div:nth-child(1) {
            flex: 1;
        }
    }

    &__mode {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 15px;
    }

    &__follow {
        width: 100px;
    }

    &__helper {
        display: flex;
        gap: 16px;
        width: 100%;
        margin-top: 16px;

        & > button {
            flex: 1;
        }
    }

    &__extension {
        position: relative;
        width: 100%;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.3;

        @include wb;
    }

    &__item {
        height: 30px;

        & > button {
            padding: 5px 10px;
            width: 100%;
            height: 100%;
        }

        &:hover,
        &--active {
            background-color: var(--frisklog-hover-color);
            color: #000;
        }

        // & + & {
        //     border-top: 1px solid var(--frisklog-divider-color);
        // }
    }
}
