.fr-post {
    margin: 5rem auto;
    width: 768px;

    &__title {
        font-size: 3rem;
        line-height: 1.5;
        letter-spacing: -0.004em;
        margin-top: 0;
        font-weight: 800;
        margin-bottom: 2rem;
        word-break: keep-all;
    }

    &__column {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > * {
            margin-right: 10px;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__form {
        & input {
            background: white;
        }
    }

    &__category {
        width: 10rem;
    }
}
