/* 테두리 반경 */
$fr-border-radius: 4px;
/* header box shadow */
$fr-header-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.1);

$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    wd: 1500px
);

$fr-black-color: #121212;

$fr-lightblack-color: #232323;

$fr-success-color: #28a745;

$fr-danger-color: #dc3545;

$fr-warning-color: #ffc107;

$fr-info-color: #17a2b8;

$fr-blue-color: #2e6bd8;

$fr-disabled-color: #646464;

$fr-inactive-color: #868e96;

$light-theme-background-color: #f7f7f8;
$light-theme-header-color: #fff;
$light-theme-box-color: #fff;
$light-theme-border-color: #e6e6e6;
$light-theme-input-color: #fff;
$light-theme-icon-color: $fr-blue-color;
$light-theme-hover-color: #eee;
$light-theme-disabled-color: $fr-disabled-color;
$light-theme-text-color: #000;
$light-theme-divider-color: #eaecef;
$light-theme-primary-color: $fr-blue-color;
$light-theme-primary-text-color: #fff;
$light-theme-secondary-color: #6c757d;
$light-theme-success-color: $fr-success-color;
$light-theme-danger-color: $fr-danger-color;
$light-theme-warning-color: $fr-warning-color;
$light-theme-info-color: $fr-info-color;
$light-theme-modal-color: #fff;
$light-github-background-color: #000;
$light-github-text-color: #fff;
$light-category-background-color: $fr-blue-color;
$light-category-text-color: #fff;
$light-category-closeicon-color: #fff;

$dark-theme-background-color: $fr-black-color;
$dark-theme-header-color: $fr-black-color;
$dark-theme-box-color: $fr-lightblack-color;
$dark-theme-border-color: $fr-lightblack-color;
$dark-theme-input-color: $fr-lightblack-color;
$dark-theme-icon-color: #909090;
$dark-theme-hover-color: #f8f9fa;
$dark-theme-disabled-color: $fr-disabled-color;
$dark-theme-text-color: #fff;
$dark-theme-divider-color: $fr-lightblack-color;
$dark-theme-primary-color: #f8f9fa;
$dark-theme-primary-text-color: $fr-black-color;
$dark-theme-secondary-color: #3c3c3c;
$dark-theme-success-color: $fr-success-color;
$dark-theme-danger-color: $fr-danger-color;
$dark-theme-warning-color: $fr-warning-color;
$dark-theme-info-color: $fr-info-color;
$dark-theme-modal-color: #000;
$dark-github-background-color: #fff;
$dark-github-text-color: #000;
$dark-category-background-color: #fff;
$dark-category-text-color: #000;
$dark-category-closeicon-color: #000;
