/* 배경색 */
$fr-bg-color: #f7f7f8;
/* 테두리 */
$fr-box-border: 1px solid #e6e6e6;
/* 테두리 반경 */
$fr-border-radius: 4px;
/* 버튼색 */
$fr-btn-color: #2e6bd8;
/* header box shadow */
$fr-header-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.1);
/* info color */
$fr-info-color: #358597;
/* hover color */
$fr-hover-color: #eee;
/* active color */
$fr-active-color: #f7f7f8;
/* follow button color */
$fr-follow-color: cadetblue;
/* unfollow button color */
$fr-unfollow-color: firebrick;
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    wd: 1500px
);

$light-theme-background-color: #f7f7f8;
$light-theme-header-color: #fff;
$light-theme-box-color: #fff;
$light-theme-border-color: #e6e6e6;
$light-theme-input-color: #fff;
$light-theme-icon-color: #2e6bd8;
$light-theme-hover-color: #eee;
$light-theme-disabled-color: #646464;
$light-theme-text-color: #000;
$light-theme-divider-color: #eaecef;
$light-theme-primary-color: #2e6bd8;
$light-theme-primary-text-color: #fff;
$light-theme-secondary-color: #6c757d;
$light-theme-success-color: #28a745;
$light-theme-danger-color: #dc3545;
$light-theme-warning-color: #ffc107;
$light-theme-info-color: #17a2b8;
$light-theme-modal-color: #fff;
$light-github-background-color: #000;
$light-github-text-color: #fff;

$dark-theme-background-color: #121212;
$dark-theme-header-color: #121212;
$dark-theme-box-color: #1e1e1e;
$dark-theme-border-color: #1e1e1e;
$dark-theme-input-color: #232323;
$dark-theme-icon-color: #909090;
$dark-theme-hover-color: #f8f9fa;
$dark-theme-disabled-color: #646464;
$dark-theme-text-color: #fff;
$dark-theme-divider-color: #1e1e1e;
$dark-theme-primary-color: #f8f9fa;
$dark-theme-primary-text-color: #121212;
$dark-theme-secondary-color: #3c3c3c;
$dark-theme-success-color: #28a745;
$dark-theme-danger-color: #dc3545;
$dark-theme-warning-color: #ffc107;
$dark-theme-info-color: #17a2b8;
$dark-theme-modal-color: #000;
$dark-github-background-color: #fff;
$dark-github-text-color: #000;
