@import "../utilities/variables";

.fr-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: $fr-box-border;
    border-radius: $fr-border-radius;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
