.fr-avatar {
    &__name {
        font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica,
            Arial, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        height: 30px;

        @include ellipsisText;
    }
}
