.fr-btn {
    display: block;
    width: 100%;
    line-height: 30px;
    border: 0;
    border-radius: $fr-border-radius;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    padding: 0 10px;

    border-width: 1px;
    border-style: solid;

    &__wrapper {
        width: 100%;
    }

    &--with {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    &--disabled {
        opacity: 0.35;
    }

    &--primary {
        background-color: var(--frisklog-primary-color) !important;
        border-color: var(--frisklog-primary-color) !important;
        color: var(--frisklog-primary-text-color) !important;
    }

    &--secondary {
        background-color: var(--frisklog-secondary-color) !important;
        border-color: var(--frisklog-border-color) !important;
    }

    &--info {
        background-color: var(--frisklog-info-color) !important;
        border-color: var(--frisklog-info-color) !important;
        color: #fff;
    }

    &--danger {
        background-color: var(--frisklog-danger-color) !important;
        border-color: var(--frisklog-danger-color) !important;
        color: #fff;
    }

    &--warning {
        background-color: var(--frisklog-warning-color) !important;
        border-color: var(--frisklog-warning-color) !important;
        color: #000;
    }

    &--github {
        background-color: var(--frisklog-github-bg-color);
        border: 1px solid var(--frisklog-github-bg-color);
        color: var(--frisklog-github-text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        & > svg {
            fill: var(--frisklog-github-text-color);
        }
    }
}
