.fr-carousel {
    width: 540px;

    &__item {
        height: 150px;
        padding: 1rem 2rem;
    }

    &__prev {
        position: absolute;
        top: 50%;
        left: 37px;
        z-index: 1000;
        transform: translate3d(0, -50%, 0) rotate(180deg);
    }

    &__next {
        right: 37px;
        z-index: 1000;

        @include alignIconCenter;
    }
}
