.fr-carousel {
    height: 150px;

    &__item {
        height: 150px;
        padding: 1rem 2rem;
    }

    &__prev {
        left: 37px;
        z-index: 1000;

        @include alignIconCenter(rotate(180deg));
    }

    &__next {
        right: 37px;
        z-index: 1000;

        @include alignIconCenter;
    }
}
