.fr-category {
    border-radius: $fr-border-radius;
    color: var(--frisklog-primary-text-color);
    background-color: var(--frisklog-primary-color);
    padding: 3px 15px 3px 15px;
    position: relative;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    &--multiple {
        margin: 0 10px 10px 0;
    }

    &--close {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // &:hover::after {
    //     border-left-color: $fr-btn-color;
    // }

    &__wrapper {
        position: relative;
        overflow: hidden;
        float: left;
        list-style: none;
    }

    &__container {
        padding: 10px 0 0 10px;
        margin-left: 10px;
        flex: 1;
        overflow-y: auto !important;
        height: 100px;

        @include wb;
    }
}
