.fr-category {
    border-radius: $fr-border-radius;
    color: var(--frisklog-category-text-color) !important;
    background-color: var(--frisklog-category-bg-color);
    padding: 3px 15px 3px 15px;
    position: relative;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: var(--frisklog-category-text-color);
    }

    &--multiple {
        margin: 0 10px 10px 0;
    }

    &--close {
        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
            fill: var(--frisklog-category-closeicon-color) !important;
        }
    }

    // &:hover::after {
    //     border-left-color: $fr-btn-color;
    // }

    &__wrapper {
        position: relative;
        overflow: hidden;
        list-style: none;
        display: inline-block;
    }

    &__container {
        padding: 10px 0 0 10px;
        margin-left: 10px;
        flex: 1;
        overflow-y: auto !important;
        height: 100px;

        @include wb;
    }
}
