.fr-category {
    background: $fr-btn-color;
    border-radius: $fr-border-radius;
    color: white;
    padding: 3px 15px 3px 15px;
    position: relative;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--multiple {
        margin: 0 10px 10px 0;
    }

    &--close {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // &:before {
    //     background: #eee;
    //     border-radius: 10px;
    //     box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    //     content: "";
    //     position: absolute;
    //     left: 10px;
    //     width: 6px;
    //     height: 6px;
    //     top: 11px;
    // }

    // &:after {
    //     background: $fr-bg-color;
    //     border-bottom: 13px solid transparent;
    //     border-left: 10px solid #eee;
    //     border-top: 13px solid transparent;
    //     content: "";
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    // }

    &:hover {
        background-color: $fr-hover-color;
        color: gray;
    }

    // &:hover::after {
    //     border-left-color: $fr-btn-color;
    // }

    &__wrapper {
        position: relative;
        overflow: hidden;
        float: left;
        list-style: none;
    }

    &__container {
        padding: 10px 0 0 10px;
        margin-left: 10px;
        flex: 1;
        overflow-y: auto !important;
        height: 100px;

        @include wb;
    }
}
