.fr-dropdown {
    position: absolute;
    width: 200px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    visibility: visible;

    @include wb;

    &--hide {
        visibility: hidden;
    }

    &__wrapper {
        // position: relative;
    }

    &__icon {
        cursor: pointer;
        right: 5px;

        @include alignIconCenter;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        &:hover {
            background-color: $fr-hover-color;
        }
    }

    &__button {
        flex: 1;
        padding: 10px;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 400;
    }
}
