.fr-dropdown {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 200px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    visibility: visible;

    @include wb;

    &--hide {
        visibility: hidden;
    }

    &__wrapper {
        position: relative;
    }

    &__icon {
        cursor: pointer;
        right: 5px;

        @include alignIconCenter;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        &:hover {
            background-color: $fr-hover-color;
        }
    }

    &__text {
        display: block;
        line-height: 2;
        text-align: center;
        width: 100%;
    }
}
