.fr-following {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 230px;
    padding: 5px;
    background-color: var(--frisklog-bg-color) !important;

    &__wrapper {
        @include wb;
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        border-bottom: 1px solid var(--frisklog-border-color);
        padding: 5px;
        gap: 5px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-top: 1px solid var(--frisklog-border-color);
        padding: 5px;
    }

    &__button {
        width: 70px;
    }

    &__input {
        width: 231px;
    }

    &__empty {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
