.fr-grid {
    width: 100%;
    color: var(--frisklog-text-color);

    &__wrapper {
        width: 100%;

        @include wb;
    }

    & th,
    & td {
        padding: 5px 0;
        text-align: center;
    }

    & th {
        border-bottom: 1px solid var(--frisklog-border-color);
        font-weight: bold;
    }

    &__message {
        width: 200px;

        @include ellipsisText;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-top: 1px solid var(--frisklog-border-color);
    }
}
