.fr-input {
    border: 0;
    border: 1px solid var(--frisklog-border-color);
    border-radius: $fr-border-radius;
    background: var(--frisklog-input-color);
    color: inherit;
    height: 2.3rem;
    padding: 0px 1rem;
    font-size: 0.8rem;
    line-height: 1.5;

    &--expand {
        width: 100%;
    }

    &:focus {
        outline: none;
    }

    &__wrapper {
        position: relative;
    }

    &__search {
        position: absolute;
        top: 2.3rem;
        left: 0;
        width: 100%;
        z-index: 1000;

        @include wb;

        & li {
            padding: 5px;
        }
    }
}
