.fr-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__with {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    &__changer {
        text-align: center;
        padding: 1.3rem 0px;
    }

    &__link {
        color: #2e6bd8;
        cursor: pointer;
    }
}
