@include mq(wd) {
    // .fr-postcard {
    //     flex-basis: 25%;
    //     max-width: 25%;
    // }
}

@include mq(lg) {
    // .fr-postcard {
    //     flex-basis: 33.3%;
    //     max-width: 33.3%;
    // }
}

@include mq(md) {
    // .fr-postcard {
    //     flex-basis: 50%;
    //     max-width: 50%;
    // }

    .fr-app__section {
        flex-direction: column;
    }
    .fr-header {
        &-wrapper {
            box-shadow: none !important;
        }
    }

    .fr-nav {
        &__header {
            display: none !important;
        }
        // display: none !important;

        height: 4.5rem !important;
        width: 100% !important;
        box-shadow: $fr-header-shadow;
        border: none !important;
    }

    .fr-user {
        display: inline-block !important;
        margin-right: 0.5rem;
        margin-bottom: 0 !important;
    }

    .fr-grid__meta__header__title {
        font-size: 1.3rem;
    }
}

@include mq(sm) {
    // .fr-postcard {
    //     flex-basis: 100%;
    //     max-width: 100%;
    //     padding: 0;

    //     &-wrapper {
    //         margin: 0;
    //     }
    // }
    .fr-header__search__form {
        width: calc(100% - 2rem);
    }

    .fr-header__post {
        display: none;
    }

    .fr-grid__timeline-wrapper {
        display: none;
    }
}

@include mq(xs) {
    .fr-header__notice {
        display: none !important;
    }

    .fr-form-wrapper {
        width: 20rem;
    }

    .fr-user__info {
        flex-direction: column;
    }

    .fr-subject {
        font-size: 1.6rem;
    }
    .te-tab-active {
        width: 100% !important;
    }

    .te-md-splitter {
        display: none !important;
    }

    .te-preview {
        display: none !important;
    }
}
