.fr-recommend {
    padding: 10px 0;
    width: 100%;
    overflow: hidden;

    &__wrapper {
        margin-bottom: 16px;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5;
    }
}
