.fr-search {
    border: none;
    background: inherit;
    position: absolute;
    top: calc(3rem - 3px);
    left: 0;
    width: 100%;
    padding: 0.6rem;
    border-bottom: 1px solid var(--frisklog-border-color);

    &__form {
        position: relative;
        margin: 0 auto;
        width: 33rem;
    }

    &__button {
        width: 50px;
        margin-left: 10px;
    }
}
