.fr-usercard {
    display: flex;
    height: 150px;
    margin: 0 1rem;
    padding: 1rem;

    @include wb;

    &__header {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    &__body {
        width: 120px;
        flex-shrink: 0;
        // margin: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
