.fr-app {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    width: 100%;
    overflow: auto;
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    &__body {
        display: flex;
        margin: 0 auto;
        max-width: 990px;
        padding: 0 8px;
        width: 100%;
    }
}
